/* This stylesheet hides unnecessary components when using Tree Style Tabs.
 *
 * To make this work, you need to:
 *   1. Create a symbolic link from <Firefox profile>/chrome/userChrome.css.
 *   2. In Firefox, open "about:config", and set
 *      `toolkit.legacyUserProfileCustomizations.stylesheets` to `true`.
 *   3. Restart Firefox.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide the tab bar. */
#TabsToolbar {
  min-height: 0 !important;
}

#TabsToolbar .toolbar-items {
  visibility: collapse;
}

/* On macOS, place the close, minimize and maximize buttons over the toolbar. */
#TabsToolbar .titlebar-buttonbox-container {
  position: absolute;
  display: block;
  margin: 4px 0;
}

/* Show the private browsing indicator in the bottom-left of the screen,
 * hovering over the sidebar or the webpage. */
#TabsToolbar .private-browsing-indicator {
  position: fixed !important;
  display: block;
  bottom: 1em;
  left: 1em;
}

/* Add padding to the toolbar. */
#nav-bar {
  padding-top: 2px;
}
