@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar {
  min-height: 0 !important;
}

#TabsToolbar .toolbar-items {
  visibility: collapse;
}

#TabsToolbar .titlebar-buttonbox-container {
  position: absolute;
  display: block;
  margin: 4px 0;
}

#TabsToolbar #titlebar-secondary-buttonbox {
  position: fixed !important;
  display: block;
  bottom: 1em;
  left: 1em;
}

#TabsToolbar .private-browsing-indicator {
  margin: 0;
}

#nav-bar {
  padding-top: 2px;
}
