@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar {
  min-height: 0 !important;
}

#TabsToolbar > .toolbar-items {
  visibility: collapse;
}

#TabsToolbar > .titlebar-buttonbox-container {
  position: absolute;
  display: block;
}

#TabsToolbar > .titlebar-secondary-buttonbox {
  position: fixed;
  display: block;
  bottom: 1em;
  left: 1em;
}
